language: python
dist: xenial
python:
 - "3.8"
 - "3.7"
 - "3.6"

branches:
  only:
    - master

install:
  - pip install pipenv
  - pipenv install --dev
  - pip install importlib_metadata  # needed for python < 3.8
  - pip install -e .

script:
  - pipenv run pytest

after_success:
  - make publish
